.side-bar-wrapper {
    background-color: white;
    .side-bar-title {
        font-size: 21px;
        font-weight: 500;
        color: #4C6081;
        margin: 32px 20px;
    }
    .side-bar {
        width: 130px;
    }
}