.common-wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
	background: #FFFFFF;
	margin: 0 32px 32px;
	border-radius: 12px;

	.common-form-header {
		height: 64px;
		padding: 18px 24px;
		margin-bottom: 16px;
		border-bottom: 1px solid #E5E6EB;
		display: flex;
		align-items: center;

		.common-form-title {
			font-weight: 500;
			font-size: 20px;
			line-height: 28px;
			color: #1D2129;
			& > span {
				margin-left: 12px;
			}
		}
	}
}

.common-form-wrapper {
	display: flex;
	height: calc(100% - 64px);
	justify-content: center;
	margin-top: 78px;
}