.second-nav-bar {
    background-color: #fff;

    .second-nav-bar-title {
        font-size: 0.2rem;
        font-weight: 500;
        line-height: 0.28rem;
        color: rgba(0, 0, 0, 0.65);
        margin: 0.32rem 0.2rem;
    }

    .side-bar {
        width: 1.28rem; 
    }
}