.message-tip {

    .ant-message-notice-content {
        min-height: 0.64rem;
        background-color: #4E5969 !important;
        color: #fff !important;
        border-radius: 0.08rem;
        border: 0.01rem solid #4E5969;
        box-shadow: 0px 0.04rem 0.1rem 0px rgba(0, 0, 0, 0.10);
        font-size: 0.24rem;
        font-weight: 400;
    }

    .ant-message-custom-content {
        display: flex;
        align-items: center;
    }

    img {
        width: 0.32rem;
        height: 0.32rem;
        margin-right: 0.08rem;
    }
}