.firstNavigation-wrapper {
	width: 104px;
    background-color: #0062FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 14px;
	
	.navigation-icon-wrapper {
        // width: 56px;
        // height: 56px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;

        .navigation-logo {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 24px;
        }
        .navigation-icon {
            width: 56px;
            height: 56px;
            text-align: center;
            line-height: 56px;
            border-radius: 12px;
            margin-top: 12px;
            &:hover {
                background: rgba(255, 255, 255, .3);
            }
        }
        .navigation-selected {
            background: rgba(255, 255, 255, .3);
        }
    }
    .navigation-set-up {
        position: absolute;
        top: 38em;
    }
}