.second-nav-bar {
    height: 100%;
    background-color: #fff;

    .second-nav-bar-title {
        width: 128px;
        box-sizing: border-box;
        font-size: 22px;
        font-weight: 500;
        color: #4C6081;
        padding: 32px 20px;
        text-align: center;
    }

    .side-bar {
        width: 128px;
    }

    .second-bar-list {
        height: calc(100vh - 0.48rem);
        overflow: auto;
        margin-bottom: 0.3rem;
    }

    .second-menu-list {
        margin-bottom: 0.6rem;
    }

    .ant-menu-item{
        padding-inline: 16px !important;
        border-radius: 0;
        margin: 0;
        width: 100%;
    }

    .ant-menu-light .ant-menu-item-selected {
        border-right: 2px solid #0062FF;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}